<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sports Teams</title>
  </head>
  <body>
    <form action="/MLB" method="post">
      <h1>MLB Teams:</h1>
      <label>
      <input type='radio' name='sportsTeam' value='Padres'  />
      Padres
    </label>
    <label>
      <input type='radio' name='sportsTeam' value='Giants' />
      Giants
    </label>
    <label>
      <input type='radio' name='sportsTeam' value='Astros' />
      Astros
    </label>
    <br />
    <input type='submit' name='submitButton' value='Submit' />
    </form>
    <form action="#" method="post">
      <label>
        Create New Team
        <input type='text' name='sportsTeam' value='Enter Team Name Here' />
      </label>
    </form>
  </body>
</html>
