<html>

<head>

</head>

<body>
  <div id='top'>
    <h1>MLB Teams:</h1>
    <img src="http://vafloc01.s3.amazonaws.com/WBStatic/site1101343/img/logos/logo-mlb.png" alt="">
  </div>
  <%- body%>
</body>

</html>
